@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://di-uploads-pod9.dealerinspire.com/landroverfreeport/uploads/2020/06/29052020_LR_Defender_SoS_Hero.gif");
}

#parent {
  border: 10px solid chocolate;
  width: 350px;
  height: 150px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 10px 10px bisque;
  font-style: italic;
  text-align: center;
  margin-top: 15px;
  background-color: white;
  text-shadow: 5px 5px grey;
}
#parent1 {
  border: 5px solid rgb(167, 109, 109);
  margin-top: 30px;
  height: 600px;
}

#child1 {
  border: 2px solid black;
  width: 300px;
  height: 230px;
  text-align: center;
  border-radius: 15px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px rgb(235, 71, 6);
  background-color: white;
  font-family: "Josefin Sans", sans-serif;
  padding-top: 15px;
  position: relative;
}

#child2 {
  border: 3px solid black;
  width: 280px;
  height: 260px;
  margin: auto;
  position: relative;
  text-align: center;
  float: right;
  bottom: 230px;
  margin-right: 20px;
  border-radius: 15px;
  box-shadow: 10px 10px coral;
  background-color: white;
  font-style: italic;
}
img {
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 8px 8px rgb(98, 169, 130);
  opacity: 0.2;
}
img:hover {
  opacity: 1;
}

#child3 {
  border: 2px solid black;
  width: 300px;
  height: 250px;
  text-align: center;
  border-radius: 15px;
  margin-top: 70px;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px coral;
  background-color: white;
  font-family: "Josefin Sans", sans-serif;
  padding-top: 15px;
  position: relative;
  float: left;
}
#child4 {
  border: 3px solid black;
  width: 280px;
  height: 250px;
  margin: auto;
  position: relative;
  text-align: center;
  float: right;
  bottom: 230px;
  margin-right: 420px;
  border-radius: 15px;
  box-shadow: 10px 10px coral;
  background-color: white;
  margin-top: 300px;
  left: 700px;
  margin-top: 300px;
  font-style: italic;
}
#phone {
  margin: auto;
}
input {
  text-align: center;
}

button {
  background-color: brown;
  margin: 10px;
}
#child5 {
  border: 2px solid rgb(86, 54, 54);
  width: 380px;
  height: 50px;
  border-radius: 30px;
  position: fixed;
  background-color: gold;
  top: 650px;
  left: 550px;
  font-style: italic;
}
.offers {
  float: left;
  margin-left: 50px;
}

.discount {
  float: right;
  margin-right: 50px;
}
p {
  display: inline-block;
}
#parent2 {
  border: 5px solid rgb(138, 95, 95);
  background-color: bisque;
  width: 60%;
  height: 90vh;
  margin: auto;
  margin-top: 10px;
}

#title {
  text-align: center;
  text-shadow: 1px 1px blue;
  font-size: 40px;
  margin-top: 10px;
  text-wrap: nowrap;
  padding-left: 150px;
}

.box {
  margin-top: -100px;
}

.box1 {
  width: 40%;
  height: 40vh;
  border: 1px solid black;
  background-color: aliceblue;
  float: left;
  margin-left: 20px;
  text-align: center;
  font-style: italic;
  box-shadow: 10px 10px coral;
  text-shadow: 0.8px 0.8px rgb(4, 4, 9);
  font-size: 22px;
  background-image: url("https://media.tenor.com/QAAccG595BMAAAAM/bmw.gif");
  color: black;
}

.box2 {
  border: 1px solid black;
  background-color: white;
  width: 40%;
  height: 40vh;
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-style: italic;
  text-shadow: 0.8px 0.8px black;
  box-shadow: 10px 10px coral;
  font-size: 25px;
  background-image: url("https://media.tenor.com/BOi2ELnbtd0AAAAM/riding-cycle-world.gif");
  color: black;
}

.box3 {
  border: 1px solid black;
  background-color: white;
  width: 95%;
  height: 30vh;
  clear: both;
  margin-left: 20px;
  text-align: center;
  font-style: italic;
  text-shadow: 0.8px 0.8px blackss;
  box-shadow: 10px 10px coral;
  font-size: 20px;
  background-image: url("https://www.carscoops.com/wp-content/uploads/2021/03/KIA.gif");
}
